<%= simple_form_for(flower) do |f| %>
  <div class="d-flex justify-content-between p-4">
    <div>
      <%= f.input :name, :placeholder => 'Name of the product'  %>
      <%= f.input :country,label: 'Origin', as: :country, priority: ['FR'] %>
      <%= f.input :category, as: :radio_buttons, :collection => ["Indica", "Sativa", "Hybrid"], wrapper: :vertical_collection_inline %>
      <%= f.input :description, :placeholder => 'Tell about the product' %>
      <%= f.input :cbd_ratio, label: 'CBD ratio in %', :collection => (3..9) %>
      <%= f.input :effect, :placeholder => 'Ex: analgesic' %>
      <%= f.input :flavor %>
      <%= f.input :weight, label: 'Weight (in g)', as: :radio_buttons, :collection => [1, 3, 5, 10], wrapper: :vertical_collection_inline %>
      <%= f.input :price %>
    </div>
    <div>
      <h3 class= mb-5>Upload Product Picture</h3>
      <img src="" class="preview" height="200" alt="Image preview...">
      <div class="file-select mt-5">
        <label  class="btn btn-primary">
          Add a file !
          <span style="display:none;">
            <%= f.input :photo, as: :file %>
          </span>
        </label>
      </div>
    </div>
  </div>
  <div class="d-flex pb-4 justify-content-around">
    <% if flower.id.nil? %>
      <%= f.submit "Add your product", class: "btn btn-flat" %>
      <%= link_to "Cancel", user_path(current_user), class: "btn btn-flat" %>
    <% else %>
      <%= f.submit "Update your product", class: "btn btn-flat" %>
      <%= link_to "Cancel", flower_path(flower), class: "btn btn-flat" %>
    <% end %>
  </div>
<% end %>
