<h1>Liste de nos fleurs en vente</h1>

<h2>Fleurs du moment :</h2>

  <div class="product-section">
    <% @flowers.each do |flower| %>
        <div class="card-product">
          <% if flower.photo.attached?%>
            <%= cl_image_tag flower.photo.key %>
          <% elsif Rails.env.production? %>
            <%= cl_image_tag "uev9db9v7q6aoikckl6tigrt1cxn" %>
          <% else %>
            <%= cl_image_tag "v1642155300/development/trx7himx75w75h42qcrhdgqjdnoj.jpg"%>
          <% end %>
          <div class="card-product-infos">
            <%= link_to flower_path(flower.id) do %>
              <h3><%= flower.name %></h3>
            <% end %>
            <p>price: <%= flower.price %>€</p>
            <p>CBD ratio <%= flower.cbd_ratio.round(2) %>%</p>
            <div class="bouttons">
              <%= link_to 'Add', cart_user_path(current_user), class: "btn btn-outline-warning" %>
              <%= link_to 'Voir plus', flower_path(flower.id), class: "btn btn-outline-success" %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
