<h1>Liste de nos fleurs en vente</h1>

<h2>Fleurs du moment :</h2>

  <div class="product-section">
    <% @flowers.each do |flower| %>
      <%= link_to flower_path(flower.id) do %>
        <div class="card-product">
           <%= image_tag("bubble-gum-cbd.jpeg") %>
          <div class="card-product-infos">
            <h3><%= flower.name %></h3>
            <p>price: <%= flower.price %>€</p>
            <p>CBD ratio <%= flower.cbd_ratio.round(2) %>%</p>
          </div>
       </div>
      <% end %>
    <% end %>
  </div>
