<h1>Liste de nos fleurs en vente</h1>

<h2>Fleurs du moment :</h2>

  <div class="product-section">
    <% @flowers.each do |flower| %>
        <div class="card-product">
            <%= image_tag("bubble-gum-cbd.jpeg") %>
          <div class="card-product-infos">
            <%= link_to flower_path(flower.id) do %>
              <h3><%= flower.name %></h3>
            <% end %>
            <p>price: <%= flower.price %>€</p>
            <p>CBD ratio <%= flower.cbd_ratio.round(2) %>%</p>
            <div class="bouttons">
              <%= link_to 'Add', class: "btn btn-outline-warning" %>
              <%= link_to 'Voir plus', flower_path(flower.id) class: "btn btn-outline-success" %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
