<div class="container">
  <div class="show-case">
    <div class="image">
    </div>
    <div>
      <h2><%= @flower.name %></h2>
      <h3><%= @flower.price %></h3>
      <p><%= @flower.description %></p>
      <p><%= @flower.weight %></p>
    </div>
  </div>

  <div class="atout">
    <div class="atout-card">
      <i class="fas fa-user-secret"></i>
      <p>Colis discret</p>
    </div>
    <div class="atout-card">
      <i class="fas fa-truck"></i>
      <p>Livraison Express 2-3 jours</p>
    </div>
    <div class="atout-card">
      <i class="fas fa-credit-card"></i>
      <p>Paiement sécurisé</p>
    </div>
    <div class="atout-card">
      <i class="far fa-handshake"></i>
      <p>Satisfaction garantie</p>
    </div>
  </div>

  <div class="details">
    <h2>Détails</h2>
    <h3 class=fiche-tec>Fiche technique</h3>
    <div class="detail-case">
      <p>Prix a partir de :</p>
      <p><%= @flower.price %></p>
    </div>
    <div class="detail-case">
      <p>Provenance :</p>
      <p><%= @flower.country %></p>
    </div>
    <div class="detail-case">
      <p>Type :</p>
      <p><%= @flower.category %></p>
    </div>
    <div class="detail-case">
      <p>Effet :</p>
      <p><%= @flower.effect %></p>
    </div>
    <div class="detail-case">
      <p>Flavor :</p>
      <p><%= @flower.flavor %></p>
    </div>
    <div class="detail-case">
      <p>CBD ratio in % :</p>
      <p><%= @flower.cbd_ratio %></p>
    </div>
  </div>
</div>
