<h1>Order a new flower</h1>

<div class="container">
  <div class="show-case">
    <div class="image">
      <%= image_tag("bubble-gum-cbd.jpeg") %>
    </div>
    <div>
      <h2><%= @flower.name %></h2>
      <h3><%= @flower.price %>€</h3>
      <p><%= @flower.description %></p>
      <p><%= @flower.weight %>g</p>
      <% if current_user %>
      <%= simple_form_for [ @flower, @order ] do |f| %>
        <%= f.submit "Order now", class: "btn btn-primary" %>
      <% end %>
      <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
      <%= link_to "Back", flower_path(@flower) %>
    </div>
  </div>
</div>
