<h1>Order a new flower</h1>

<div class="container">
  <div class="show-case">
    <div class="image">
      <% if @flower.photo.attached?%>
            <%= cl_image_tag @flower.photo.key %>
          <% elsif Rails.env.production? %>
            <%= cl_image_tag "uev9db9v7q6aoikckl6tigrt1cxn" %>
          <% else %>
            <%= cl_image_tag "v1642155300/development/trx7himx75w75h42qcrhdgqjdnoj.jpg"%>
          <% end %>
    </div>
    <div>
      <h2><%= @flower.name %></h2>
      <h3><%= @flower.price %>€</h3>
      <p><%= @flower.description %></p>
      <p><%= @flower.weight %>g</p>
      <% if current_user %>
      <%= simple_form_for [ @flower, @order ] do |f| %>
        <%= f.submit "Order now", class: "btn btn-primary", id: "order" %>
      <% end %>
      <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
      <% end %>
      <%= link_to "Back", flower_path(@flower) %>
    </div>
  </div>
</div>
