<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1604660664082-3cac347079b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);">
  <div class="container">
    <h1><strong>Best CBD</strong> in town delivered to your doorstep <strong>in 15 minutes</strong> !</h1>
    <p>Relax yourself with premium products from all over Europe.</p>
    <a class="btn btn-flat" href="#index">Shop now</a>
  </div>
</div>


<div class="container">
  <h2>Nos Promos du moments</h2>
  <div class="promo">
    <div class="product-section-promo">
      <div class="promo-product" >
          <%= render "./flowers/card_product", flower: @flowers[5] %>
      </div>
      <div class="promo-product" >
          <%= render "./flowers/card_product", flower: @flowers[1] %>
      </div>
      <div class="promo-product" >
          <%= render "./flowers/card_product", flower: @flowers[15]%>
      </div>
    </div>
  </div>
  <h2>Nos Produits</h2>
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @flowers.each_with_index do |flower, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>" data-interval="10000">
        <%= render "flowers/card_product", flower: flower %>
        <%# <img src="..." class="d-block w-100" alt="..."> %>
      </div>
      <% end %>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
  <div class="atout">
      <div class="atout-card">
        <i class="fas fa-user-secret"></i>
        <p>Colis discret</p>
      </div>
      <div class="atout-card">
        <i class="fas fa-truck"></i>
        <p>Livraison Express 2-3 jours</p>
      </div>
      <div class="atout-card">
        <i class="fas fa-credit-card"></i>
        <p>Paiement sécurisé</p>
      </div>
      <div class="atout-card">
        <i class="far fa-handshake"></i>
        <p>Satisfaction garantie</p>
      </div>
  </div>
</div>
